# Series

- A pandas series is a one dimentional array of indexed data.

In [2]:
import pandas as pd

# Using List's

In [3]:
names=['tarun','saran','abhi','sunny']
pd.Series(names)

0    tarun
1    saran
2     abhi
3    sunny
dtype: object

In [4]:
random=[2,5,8,4,7,9]
pd.Series(random)

0    2
1    5
2    8
3    4
4    7
5    9
dtype: int64

In [7]:
bollean_values=[True,False,True,True]
pd.Series(bollean_values)

0     True
1    False
2     True
3     True
dtype: bool

# Using Dictionary

In [8]:
dct={1:'tarun',2:'saran',3:'abhi',4:'sunny'}
pd.Series(dct)

1    tarun
2    saran
3     abhi
4    sunny
dtype: object

# Series attributes

In [11]:
names=['tarun','saran','abhi','sunny']
n=pd.Series(names)
n

0    tarun
1    saran
2     abhi
3    sunny
dtype: object

- values attribute will gives the data values with out index values

In [12]:
n.values

array(['tarun', 'saran', 'abhi', 'sunny'], dtype=object)

In [13]:
n.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
n.dtype #Series is a pandas object

dtype('O')

# Methods

In [25]:
nums=[10,12,15,18,33,10,20,33,45]
numbers=pd.Series(nums)
numbers

0    10
1    12
2    15
3    18
4    33
5    10
6    20
7    33
8    45
dtype: int64

In [26]:
numbers.sum()

196

In [27]:
numbers.mean()

21.77777777777778

In [28]:
numbers.product()

317552400000

In [29]:
numbers.prod()

317552400000

In [30]:
numbers.median()

18.0

In [32]:
numbers.mode() # if there are no repeating values in the data it will display all the values as o/p

0    10
1    33
dtype: int64

# parameters and arguments